<h2><%= @talent.name %></h2>

<% if current_user.admin? %>
  <%= link_to "Delete talent", [:admin, @talent], method: :delete %>
<% end %>

<h3>Crew Positions</h3>
<% @talent.crew_memberships.each do |crew| %>
  <%= link_to crew.movie.title, crew.movie %> |
  <%= crew.position %>
<% end %>
<h3>Cast Positions</h3>
<% @talent.cast_memberships.each do |cast| %>
  <%= link_to cast.movie.title, cast.movie %> |
  <%= cast.character_name %>
<% end %>

