<%= render @movie %>

<% if current_user.admin? %>
  <%= link_to "Delete movie", [:admin, @movie], method: :delete %>
<% end %>

<h3>Cast</h3>
<div>
  <% @movie.cast_memberships.each do |cast| %>
    <%= link_to cast.talent.name, cast.talent %> |
    <%= cast.character_name %>
  <% end %>
</div>

<h3>Crew</h3>
<div>
  <% @movie.crew_memberships.each do |crew| %>
    <%= link_to crew.talent.name, crew.talent %> |
    <%= crew.position %>
  <% end %>
</div>

