<%= render @movie %>

<h3>Cast</h3>
<div>
  <% @movie.cast_memberships.each do |cast| %>
    <%= cast.talent.name %> |
    <%= cast.character_name %>
  <% end %>
</div>

<h3>Crew</h3>
<div>
  <% @movie.crew_memberships.each do |crew| %>
    <%= crew.talent.name %> |
    <%= crew.position %>
  <% end %>
</div>

